body, html {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #F7FAFD;
	background-image: url(http://www.transparenttextures.com/patterns/absurdity.png);
	font-family: 'Playfair Display', serif;
/*	padding: 4em 2em;*/
	margin: 0 auto;
}

.header h1 {
	font-size: 4.2em;
	line-height: 0.85;
	font-weight: 900;
	margin: 10px auto;
	display: block;
}

.header h1 > span {
	font-style: italic;
	font-weight: 100;
}

.header h3 {
	font-family: Helvetica Neue, Helvetica;
	font-weight: 400;
	margin-bottom: 40px;
}

p {
	font-family: Libre Baskerville, "Libre Baskerville", serif;
	max-width: 600px;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.flexbox .col {
  flex: 1;
  -webkit-flex: 1;
	padding: 0px;
	box-sizing: padding-box;
	margin: 0;
	background-color: #eee;
	text-align: center;
}

.col.intro {
	background-color: transparent;
}

.col img{
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
	max-height: 100vh;
}

.desc{
	padding: 50px;
}

.col.desc {
	background-color: #fff;
}

.col.portrait {
	background-color: #000;
}

.col h3{
	font-size: 1.4em;
	margin: 0;
}

.col p {
	margin: 0px auto 18px auto;
	max-width: 400px;
	font-family: Libre Baskerville, "Libre Baskerville", serif;
	text-align: left;
	line-height: 1.6;
	padding: 0em 2em;
}

.col blockquote {
	font-family: Libre Baskerville, "Libre Baskerville", serif;
	font-style: italic;
	font-size: 1.6em;
	max-width: 600px;
	margin: 20px auto;
	padding: 0.4em 0.6em;
}

hr {
	width: 90px;
	margin-top: 40px;
	margin-bottom: 30px;
	box-shadow: none;
	border: none;
	border-top: 1px solid #bbb;
}

.flexbox .col:nth-child(1) {
  order: 0;
}

.flexbox .col:nth-child(2) {
  order: 1;
}

.flexbox .col:nth-child(3) {
  order: 2;
}

.flexbox #putthisfirst {
  order: 0;
}

.flexbox #putthissecond {
  order: 1;
}

.col.title {
	background-color: transparent;
}

#title {
	padding: 3em;
}

div.separator {
	height: 20px;
	background-color: #F7FAFD;
	background-image: url(http://www.transparenttextures.com/patterns/absurdity.png);
	font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 900px) {
	
	.flexbox{
	-webkit-flex-direction: column;
	}
	
	.flexbox #putthisfirst {
  order: 1;
	}

	.flexbox #putthissecond {
		order: 0;
	}
	
}